<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #C1A633;
  color: white;
}
    </style>
</head>
<body>
<div layout:fragment="content">
        <table id="customers">
        <tr>
            Course : <th> <span th:text="${courses.getSubject()}"></span></th>
        </tr>
            <div th:each="task:${admin}">
            <tr>
                    <td><span th:text="${task.getBody()}"></span></td>
                </tr>

            </div>
    </table>


</div>
</div>
</body>
<!--<a th:href="'/courseSubject/331134333'+${course.getId()}+'GQtb/zZ11'+${task.getGroups().getId()}"></a>-->
</html>